.title {
    background-color: #f1eeee;
    text-align: center;
    margin: 0 auto;
    height: 70px;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
}