<div class="container">
    <div class="block">
      <img src="../../assets/cenzor.png" alt="">
      <h3 class="name-block">Angular list of prohibited words</h3>
      <button  class="btn-detail" [routerLink]="[ '/works/cenzor' ]" routerLinkActive="active">details</button>
    </div>
    <div class="block">
      <img src="../../assets/TaskList.png" alt="">
      <h3 class="name-block">Angular task list</h3>
      <button class="btn-detail"  [routerLink]="[ '/works/task-list' ]" routerLinkActive="active">details</button>
    </div>
    <div class="block">
      <img src="../../assets/user list.png" alt="">
      <h3 class="name-block"> Angular user list</h3>
      <button class="btn-detail" [routerLink]="[ '/works/user-list' ]" routerLinkActive="active">details</button>
    </div>
  </div>